                                /* work sans font from google font website */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}

                                        /* shared items */
.btn-primary {
color: #FFF;
border-radius: 8px;
background: #FF900E;
text-align: center;
font-family: Work Sans;
font-size: 1.25rem;
font-weight: 600;
padding: 20px 25px;
border: none;
}
                                    /* header section styles */

nav {
    display: flex;
    padding: 50px 240px;
    background: rgba(255, 144, 14, 0.10);
    justify-content: space-between;
    text-align: center;
}                  

.header-title {
    font-family: Work Sans;
font-size: 3rem;
font-weight: 700;
color:#131313;
}

nav > ul  {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 35px;
}

nav li a {
    text-decoration: none;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-weight: 500;
    color: #424242;
}


                               /* banner section styles */

                               
.banner-title{
    color:#131313;
text-align: center;
font-family: Work Sans;
font-size: 4rem;
font-weight: 700;
}

.banner-description {
    color: #727272;
text-align: center;
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
}

.banner-content {
max-width: 800px;
text-align: center;
margin: 0 auto;
}
.banner img {
    width: 100%;
    margin-top: 20px;
}



   

/* main styles */

main {
    max-width: 1440px;
    margin: 70px auto;
}

/* teams section styles */

.teams-section {
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list {
    color: #727272;
font-family: Work Sans;
font-weight: 500;
}
.teams-title .of-our {
    color: #131313;
font-family: Work Sans;
font-weight: 700;
}
.teams-title .features {
    color: #FF900E;
font-family: Work Sans;
font-weight: 700;
}

.teams-description{
color: #727272;
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
}



                       /* mobile devices responsive styles */
                       @media screen and (max-width:576px) {
                        nav, .teams-section {
                            padding: 20px;
                            flex-direction: column;
                            
                        }
                        nav > ul {
                            justify-content: center;
                        }
                        .teams-img-container {
                            grid-template-columns: 1fr;
                        }
                        .teams-content {
                            padding-right: 20px;
                            padding-left: 20px;
                        }
                    }
                    
                    /* tablet or medium devices responsive styles */
                    
                    @media  screen and (min-width:576px) and (max-width:960px) {
                        nav{
                            padding:20px;
                            flex-direction: column;
                        }
                        nav> ul{
                            justify-content: center;
                        }
                    }